<!DOCTYPE html>
<html>
    <head>
        <title>SQLite Browser</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/global.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/table.js')}}"></script>
    </head>
    <body>
        <div id="mainContainer" class="vh-100 mh-100 overflow-hidden d-flex flex-column px-4">
            <h1>SQLite Browser</h1>
            <div id="bodyDiv" class="flex-grow-1 overflow-auto"></div>
            <div id="footer">
                <hr>
                Created by Sam Sanft and Merritt Zhang.
                <hr>
            </div>
        </div>
    </body>
</html>