<!DOCTYPE html>
<html>
    <head>
        <title>SQLite Browser</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
    </head>
    <body>
        <h1>SQLite Browser</h1>
        <h5>Tables:</h5>
        <div id="tablesList"></div>
        <hr>
        Created by Sam Sanft and Merritt Zhang.
        <hr>
    </body>
</html>